spring:
  mvc:
    throw-exception-if-no-handler-found: true
  datasource:
    url: jdbc:mariadb://localhost:3306/testDB?characterEncoding=UTF-8&serverTimezone=UTC
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1234
  jpa:
    hibernate:
      naming:
#        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  web:
    resources:
      add-mappings: false
#        show-sql: true
#        use_sql_comments: true
#logging:
#  level:
#    org.hibernate:
#      type.descriptor.sql: trace
#      type: trace
#      SQL: debug
